includes:
    - phpstan-baseline.neon
    - vendor/nunomad/phpstan-filament/extension.neon

parameters:
    larastan:
     analyze:
        - src
    level: 4
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    reportUnmatchedIgnoredErrors: false
    reportMaybes: false
    fileExtensions:
        - php
        - php.stub
    bootstrapFiles:
        - config/filament-modules.php

